// This file is for additional LESS rules beyond what are in variables.scss.
// Image path example:
// $imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }
//


//.container { background: #fff; }

.bg-dark .container { background: $dark; }

body > .container {
    border: solid #aaaaaa;
    border-width: 0 1px;
}

body > .container, // basic layout (bootstrap)
.header_container > .container,
.header_container.container {
    border: solid #aaaaaa;
    border-width: 1px 1px 0 1px;
    margin-top: 20px;
}

body > .container {
    .topbar {
        margin-bottom: 20px;}
}

.middle_outer > .container {
    border: solid #aaaaaa;
    border-width: 0 1px;
}

.footer_liner > .container {
 //   border: solid #aaaaaa; fix for Bootstrap53
    border-width: 0 1px 1px 1px;
}

header.container {
    //  border: 1px solid #aaaaaa;
    //  border-bottom: none;
    margin-top: 20px;
    background: #e9ecef;
}

#col1 {
//    background: #f3f6f9; fix for Bootstrap53
    //  margin: 8px 3px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #8cacbb;
    margin-bottom: 10px;
}

.layout_classic .page-header,
header.fixed-top {
    border-bottom: 1px solid #aaa;
}

#topbar_modules {
    .navbar {
        margin-bottom: 0;
    }
    .navbar {
        border: none;
    }
    .box-search .mb-3 {
        margin-bottom: 0;
    }
//    background: $navbar-default-bg;
}

#topbar_modules .navbar {
    margin-bottom: 0;
}

.layout_social .container.middle {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

#col2 .navbar {
    background: transparent;
    .nav-link {
        color: var(--tiki-vert-nav-link-color); //#214D73;
        &:hover {
            color: var(--tiki-vert-nav-link-hover-color);
        }
    }
}

footer .container {
 //   background: #c7d0d9; fix for Bootstrap53
    border: solid #8cacbb;
    border-width: 0 1px 1px 1px;
}

#bottom_modules { padding-top: 15px; }

body.fullscreen {
 //   background: #f3f6f9; fix for Bootstrap53
    #col1,
    .middle_outer > .container,
    .middle > .row,
    body > .container,
    .header_container > .container,
    .header_container.container {
        border: none;
    }
    #footer {
        display: none;
    }
}

h3.card-title {
    font-size: 1.15rem;
    margin-bottom: 0;
}

// So form submit buttons with icons and text used in popover actions can look just like links
.popover button.btn-link.link-list,
.popover button.btn-link.link-list .icon {
    font-size: $popover-font-size;
}

// Dark mode
.card {
    border-color: var(--tiki-card-border-color); //$light-border-subtle-dark;
    .card-header {
        background: var(--tiki-card-header-bg); ///$dark-bg-subtle-dark;
        .card-title {
            color: var(--tiki-card-title-color); // $body-color-dark;
        }
    }
}

// Use theme colors for active state - inspired by Morph theme
.btn:not(.btn-link) {
    color: #fff;
<<<<<<< HEAD
    background-color: #6c839b;
=======
    background-color: #61778F; // #6c839b;
>>>>>>> upstream/master
    border: none;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}
.btn:focus {
    color: #506925;
}
.btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    background-color: #d9e3f1;
    border: none;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
    color: #506925;
}
.btn:active, .btn:active:focus {
    border-color: transparent;
}
.btn-primary:active, .btn-primary:active:focus {
    color: #fff;
    background-color: #378dfc;
}
.btn-secondary:active, .btn-secondary:active:focus {
    color: #506925;
    background-color: #d9e3f1;
}
.btn-success:active, .btn-success:active:focus {
    color: #fff;
    background-color: #43cc29;
}
.btn-info:active, .btn-info:active:focus {
    color: #fff;
    background-color: #5b62f4;
}
.btn-warning:active, .btn-warning:active:focus {
    color: #fff;
    background-color: #ffc107;
}
.btn-danger:active, .btn-danger:active:focus {
    color: #fff;
    background-color: #e52527;
}
.btn-light:active, .btn-light:active:focus {
    color: #506925;
    background-color: #d9e3f1;
}
.btn-dark:active, .btn-dark:active:focus {
    color: #fff;
    background-color: #212529;
}
.btn-link {
    font-weight: 600;
}
.btn-link:hover, .btn-link:active, .btn-link:active:focus {
    color: #212529;
    background: transparent;
}
.btn.disabled {
    color: #506925;
    background-color: #d9e3f1;
}