// Cerulean 5.2.0 -- This is a copy of node_modules/bootswatch/dist/cerulean/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

@import "../../../node_modules/bootswatch/dist/cerulean/_variables.scss";

//
// Color system
//
$cyan:    #157BB7; //#2fa4e7; Updated for Tiki

$primary:       $cyan;
$secondary:     #A0A5AC; // $gray-200;
$success:       #58812C; // $green;
$info:          #077F97; // $blue;
$warning:       #946F00; // $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$green-300: tint-color($green, 40%);  // default // Bootstrap 53
$red-300: tint-color($red, 40%);  // default // Bootstrap 53

// Options
$prefix:                      bs-;  // default
$prefixTiki:                  tiki-;

// Body
// Links
<<<<<<< HEAD
//$link-color:                              $primary;  // default
=======
$link-color:                            #1578B2; //  $primary;  // default - Darkened for WCAG 2
>>>>>>> upstream/master
$link-shade-percentage:                   20%;  // default
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage);  // default

// Typography
$font-family-sans-serif:        Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-size-base:                1.1rem;

$headings-color: #1F9CE5; // Darkened for WCAG2.2
<<<<<<< HEAD
=======
$blockquote-footer-color: #6D767E; // Darkened for WCAG 2
>>>>>>> upstream/master

// Components
$border-color:                $gray-400;

// Form validation
$form-valid-color: #58812C;

// Dropdowns
// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !important; // !important seems to be necessary to override the Bootstrap default caused by importing vendor bootstrap.scss.
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !important;

// Navbar
$navbar-dark-color:       #fff; // Updated for Tiki

// Accordion (added for Tiki)
$accordion-button-active-bg: #2fa4e7;
$accordion-button-active-color: #fff;

// Code
$code-color:                        $body-color; // $pink;  // default // Bootstrap 5.3

//--------------------------- Tiki SCSS variables
$navbar-dark-bg: #343a40;
$navbar-dark-link-color: $navbar-dark-color;
$navbar-dark-link-hover-color:       $white;

$navbar-bg-light: #2fa4e7;
$navbar-light-color: #000;
$navbar-light-link-color: #000;
$navbar-light-link-hover-color: lighten(#000,10%);


