<template>
<<<<<<< HEAD
    <link rel="stylesheet" :href="themeCss">
    <div>
        <VueDatePicker v-model="date" :timezone="tz" :locale="language" input-class-name="form-control tiki-form-control"
            :enable-time-picker="enableTimePicker" :range="Boolean(toInputName)" @update:model-value="goToURLWithData"
            :cancelText="cancelText" :selectText="selectText" :format="formatDate"/>
        <input type="hidden" :name="inputName" :value="unixTimestamp">
        <input type="hidden" :name="toInputName" :value="toUnixTimestamp">
        <input type="hidden" name="useDisplayTz" value="1" v-if="!enableTimezonePicker">
        <div class="mt-3" v-if="enableTimezonePicker">
            <label for="timezone" class="form-label">Timezone</label>
            <select class="form-select" aria-label="Select a timezone" id="timezone" v-model="selectedTz" :name="timezoneFieldName">
=======
    <link rel="stylesheet" :href="themeCss" :data-testid="DATA_TEST_ID.CSS_THEME">
    <div :data-testid="DATA_TEST_ID.CONTAINER">
        <VueDatePicker v-model="date" :timezone="tz" :locale="language" input-class-name="form-control tiki-form-control"
            :enable-time-picker="enableTimePicker" :range="rangePicker" @update:model-value="handleDatetimeChange"
            :cancelText="cancelText" :selectText="selectText" :format="formatFn" :data-testid="DATA_TEST_ID.DATE_PICKER"/>
        <div class="mt-3" v-if="enableTimezonePicker" :data-testid="DATA_TEST_ID.TIMEZONE_CONTAINER">
            <label for="timezone" class="form-label" :data-testid="DATA_TEST_ID.LABEL_TIMEZONE_CONTAINER">{{ TEXT.LABEL_TIMEZONE_CONTAINER }}</label>
            <select class="form-select" aria-label="Select a timezone" id="timezone" v-model="selectedTz" :data-testid="DATA_TEST_ID.TIMEZONE_SELECT" @change="handleTzChange">
>>>>>>> upstream/master
                <option v-for="(timezone, index) in timezones" :key="index" :value="timezone">{{ timezone }} ({{
                    getTimezoneOffset(timezone) }})</option>
            </select>
        </div>
<<<<<<< HEAD
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import moment from 'moment-timezone/builds/moment-timezone-with-data-10-year-range.js';
import { format } from 'date-fns';
import * as locale from 'date-fns/locale';
=======
        <div class="mt-1" v-if="! enableTimezonePicker && enableTimePicker && selectedTz" :data-testid="DATA_TEST_ID.TIMEZONE_CONTAINER">
            {{ selectedTz }} <span v-if="selectedTz != 'UTC'">({{ getTimezoneOffset(selectedTz) }})</span>
        </div>
    </div>
</template>

<script>
const uniqueId = '1720000034990'; // ensure this is unique across all components so that in any way we don't end up with duplicate data-test-id resulting in false positive tests
export const DATA_TEST_ID = {
    CSS_THEME: `css-theme-${uniqueId}`,
    CONTAINER: `container-${uniqueId}`,
    DATE_PICKER: `date-picker-${uniqueId}`,
    TIMEZONE_CONTAINER: `timezone-container-${uniqueId}`,
    LABEL_TIMEZONE_CONTAINER: `timezone-container-label-${uniqueId}`,
    TIMEZONE_SELECT: `timezone-select-${uniqueId}`,
}

export const TEXT = {
    LABEL_TIMEZONE_CONTAINER: 'Timezone',
    LABEL_DEFAULT_CANCEL_BUTTON: 'Cancel',
    LABEL_DEFAULT_SELECT_BUTTON: 'Select',
}
</script>

<script setup>
import { ref, computed, watchEffect } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import moment from 'moment-timezone/builds/moment-timezone-with-data-10-year-range.js';
import * as locale from 'date-fns/locale';
import { convertToUnixTimestamp, daylightDiffAgainstBrowserTz, formatDate, goToURLWithData } from './helpers/helpers';
>>>>>>> upstream/master

const timezones = moment.tz.names();

const props = defineProps({
<<<<<<< HEAD
    inputName: {
        type: String,
        default: 'date',
    },
=======
>>>>>>> upstream/master
    timestamp: {
        type: String
    },
    toTimestamp: {
        type: String
    },
    timezone: {
        type: String,
        default: '',
    },
<<<<<<< HEAD
    timezoneFieldName: {
        type: String,
        default: '',
    },
=======
>>>>>>> upstream/master
    enableTimePicker: {
        type: Number,
        default: 0,
    },
    enableTimezonePicker: {
        type: Number,
        default: 0,
    },
<<<<<<< HEAD
    toInputName: {
        type: String,
        default: null,
    },
    goToURLOnChange: {
=======
    rangePicker: {
        type: Boolean,
        default: false,
    },
    goToUrlOnChange: {
>>>>>>> upstream/master
        type: String
    },
    language: {
        type: String,
        default: 'en'
    },
    cancelText: {
        type: String,
        default: 'Cancel'
    },
    selectText: {
        type: String,
        default: 'Select'
    },
    globalCallback: {
        type: String,
    },
    themeCss: {
        type: String
<<<<<<< HEAD
=======
    },
    emitValueChange: {
        type: Function
    },
    dateTimeInput: {
        type: Object
    },
    toDateTimeInput: {
        type: Object
    },
    timezoneInput: {
        type: Object
>>>>>>> upstream/master
    }
});

// Convert props that should be booleans from string to number
// Boolean props will be : "0" => false, "1" => true
// We can't directly use true/false because html attributes are always strings. A non-zero length string is always true
const enableTimePicker = Number(props.enableTimePicker);
const enableTimezonePicker = Number(props.enableTimezonePicker);

const date = ref(getDefaultDate(props.timestamp, props.toTimestamp));
const selectedTz = ref(props.timezone);

const unixTimestamp = computed(() => {
    return Array.isArray(date.value) ? getUnixTimestamp(date.value[0]) : getUnixTimestamp(date.value);
});

const toUnixTimestamp = computed(() => {
    return Array.isArray(date.value) ? getUnixTimestamp(date.value[1]) : 0;
});

const tz = computed(() => {
    return { timezone: selectedTz.value };
});

/*
====================
Handlers
====================
 */

<<<<<<< HEAD
const goToURLWithData = (data) => {
    date.value = data;
    if (props.goToURLOnChange) {
        const url = new URL(props.goToURLOnChange, window.location.origin);
        if(data) {
            url.searchParams.set('todate', unixTimestamp.value);
            url.searchParams.set('enddate', toUnixTimestamp.value);
            url.searchParams.set('tzname', selectedTz.value);
            url.searchParams.set('tzoffset', moment.tz(selectedTz.value).utcOffset());
        } else {
            url.searchParams.delete('todate');
            url.searchParams.delete('enddate');
            url.searchParams.delete('tzname');
            url.searchParams.delete('tzoffset');
        }
        window.location.href = url
    } else if (props.globalCallback && window[props.globalCallback]) {
        window[props.globalCallback]({
            date: unixTimestamp.value,
            enddate: toUnixTimestamp.value,
            tzname: selectedTz.value,
            tzoffset: moment.tz(selectedTz.offset).utcOffset(),
        })
=======
const handleDatetimeChange = (value) => {
    // deal with vue-datepicker bug related to daylight saving - it doesn't reference the target date's DST pref
    // but acts as if it is the current date DST pref
    if (Array.isArray(value)) {
        for (let i = 0; i < value.length; i++) {
            value[i] = moment(value[i]).add(daylightDiffAgainstBrowserTz(value[i], selectedTz.value), 'second').toDate();
        }
    } else {
        value = moment(value).add(daylightDiffAgainstBrowserTz(value, selectedTz.value), 'second').toDate();
    }
    date.value = value;

    if (props.emitValueChange) {
        props.emitValueChange({
            value: value,
            unixTimestamp: unixTimestamp.value,
            toUnixTimestamp: toUnixTimestamp.value,
            timezone: selectedTz.value,
        });
    }

    if (props.goToUrlOnChange || props.globalCallback) {
        goToURLWithData(value, props.goToUrlOnChange, unixTimestamp.value, toUnixTimestamp.value, selectedTz.value, props.globalCallback);
    }
};

const handleTzChange = () => {
    if (props.emitValueChange) {
        props.emitValueChange({
            value: date.value,
            unixTimestamp: unixTimestamp.value,
            toUnixTimestamp: toUnixTimestamp.value,
            timezone: selectedTz.value,
        });
>>>>>>> upstream/master
    }
};

/*
====================
Utility functions
====================
 */

function getDefaultDate(fromTimestamp, toTimestamp) {
    if (!fromTimestamp) {
        fromTimestamp = moment().unix();
    }
    if (!toTimestamp) {
        toTimestamp = moment.unix(fromTimestamp).add(2, 'hours').unix();
    }
<<<<<<< HEAD
    if (!props.toInputName) {
=======
    if (!props.rangePicker) {
>>>>>>> upstream/master
        return fromTimestamp * 1000;
    }
    return [fromTimestamp * 1000, toTimestamp * 1000];
};

<<<<<<< HEAD
function getUnixTimestamp(date) {
    if (enableTimezonePicker && !props.timezone) {
        return moment(date).unix();
    }

    const browserOffset = new Date().getTimezoneOffset() * 60;
    const selectedTzOffset = moment.tz(selectedTz.value).utcOffset() * 60;
    return moment(date).unix() + browserOffset + selectedTzOffset;
};
=======
const getUnixTimestamp = (date) => convertToUnixTimestamp(date);
>>>>>>> upstream/master

function getTimezoneOffset(timezone) {
    const currentTime = moment.tz(timezone);

    const offsetMinutes = currentTime.utcOffset();
    const offsetHours = Math.floor(Math.abs(offsetMinutes) / 60);
    const offsetMinutesRemainder = Math.abs(offsetMinutes) % 60;

    const offsetSign = offsetMinutes < 0 ? '-' : '+';

    const offsetString = `GMT${offsetSign}${String(offsetHours).padStart(2, '0')}:${String(offsetMinutesRemainder).padStart(2, '0')}`;

    return offsetString;
}

<<<<<<< HEAD
const formatDate = (value) => {
    const formatValue = (date) => format(date, enableTimePicker ? 'Pp': 'P', { locale: locale[props.language] });
    return Array.isArray(value) ? value.map(formatValue).join(' - ') : formatValue(value);
}
=======
const formatFn = (value) => formatDate(value, Boolean(enableTimePicker), locale[props.language]);

/*
====================
*/

watchEffect(() => {
    props.dateTimeInput.value = unixTimestamp.value;
    if (props.rangePicker) {
        props.toDateTimeInput.value = toUnixTimestamp.value;
    }
    if (enableTimezonePicker) {
        props.timezoneInput.value = selectedTz.value;
    }
}, { flush: 'post' });
>>>>>>> upstream/master
</script>