// These FiveAlive-lite Grape theme option variables are applied to fivealive-lite/scss/fivealive-lite_option_selectors.scss.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

// scss-docs-start gray-color-variables
$white:    #fff;  // default
$gray-100: #f8f9fa;  // default
$gray-200: #e9ecef;  // default
$gray-300: #dee2e6;  // default
$gray-400: #ced4da;  // default
$gray-500: #adb5bd;  // default
$gray-600: #6c757d;  // default
$gray-700: #495057;  // default
$gray-800: #343a40;  // default
$gray-900: #212529;  // default
$black:    #000;  // default
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
);  // default
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd;  // default
$indigo:  #6610f2;  // default
$purple:  #6f42c1;  // default
$pink:    #d63384;  // default
$red:     #dc3545;  // default
$orange:  #fd7e14;  // default
$yellow:  #ffc107;  // default
$green:   #198754;  // default
$teal:    #20c997;  // default
$cyan:    #0dcaf0;  // default
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
);  // default
// scss-docs-end colors-map
$white:    #fff;
$black:    #000;
$light: #a02871;
$dark: #551e3d;

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$theme-colors: (
    "primary":            #a52873,
    "secondary":         #3c2846,
    "success":             #5cb85c,
    "info":             #551e3c,
    "warning":             #f0ad4e,
    "danger":              #d00b0b,
    "light":            #fff,
    "dark":                #8e286a
);

$primary:       #a52873;
$secondary:     #3c2846;
$success:       #5cb85c;
$info:          #551e3c;
$warning:       #f0ad4e;
$danger:        #d00b0b;
$light:         #fff;
$dark:          #8e286a;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
//$color-c-threshold:  150;

$color-contrast-dark:             $gray-900;  // default
$color-contrast-light:            $white;  // default

$bg-light: #a02871 !important;

// Options

// Prefix
$prefix: bs-;

// Body
$body-bg:                   $white;  // default
$body-color: #212529;

// Links
$link-color: #a02871;
$link-hover-color: #a02871;
$link-shade-percentage:                   20%;  // default

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4dded;;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #742157; // same as $dropdown-link-hover-bg;

// Navbars
//$tiki-top-bg: #a52874;
$tiki-top-color: #fff;
//$tiki-top-link-color: #fff;
//$tiki-top-link-hover-color: #f9f9f9;
//$topbar-bg: #551e3d;
$bg-dark: #8e286a;
$bg-light: #f4dded;
//$page-header-link-color: #000;
//$topbar-link-color: #fff;

$navbar-dark-color:                 rgba($white, .85);
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15);  // default

// Typography
$text-muted:  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #6B737B;
$hr-color: #a02871;

// Cards
$card-border-color: #bc2f84;

// Tables
$table-border-color: #a82a76;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$component-active-bg: $card-border-color;

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #555555;
$input-bg: var(--#{$prefix}body-bg);  // default // #f4dded;
$input-border-color: var(--#{$prefix}border-color);  // default // #e4afd3;
$input-border-top-color: #e4afd3;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #e4afd3;
$input-focus-border-color: lighten($component-active-bg, 25%);

// Form validation

// Dropdowns
$dropdown-bg: #8e286a; //#c82b8b;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #742157;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #2e1f39;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #a02871;
$pagination-color: #a02871;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a02871;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #a02871;
$pagination-active-border-color: #a02871;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Code
$code-color:                        $body-color; // $pink; default


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Aug 18 2022 start
$tiki-top-bg: #a52874; // Used for $post-card-header-bg and .postbody-title
$tiki-top-color: #fff;
$tiki-top-link-color: #fff;
$tiki-top-link-hover-color: #f9f9f9;
//$topbar-bg: #063035;

$tiki-top-dark-bg: #a52874;
$tiki-top-dark-color: #fff;
$tiki-topbar-dark-bg: #551e3d; // $tiki-topbar-light-bg;
$tiki-topbar-dark-color: #fff;

$tiki-top-light-bg: $tiki-top-dark-bg; // #a52874;
$tiki-top-light-color: $tiki-top-dark-color; // #fff;
$tiki-topbar-light-bg: $tiki-topbar-dark-bg;  // #551e3d;
$tiki-topbar-light-color: $tiki-topbar-dark-color; //#fff;

$tiki-navbar-light-link-color: $tiki-top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $tiki-top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;
// Aug 18 2022 revamp end

//$bg-light-alt: #117485 !important;

$side-column-heading-color: #bc2f84;

$middle_outer-inset-shadow-bg: #8e286a;
$footer_liner-card-inner-border: #a52873;

$footer-link-color: #fff;

$footer-accent-color: $input-border-color;
$footer-btn-secondary-color: #f4f4f4;
$footer-border-color: $footer-accent-color;

//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #8e286a;
//$autotoc-color: #8e286a;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #003c4a;

$bg-dark-info: #00DAE6;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-light {
    --tiki-top-bg: #{$tiki-top-light-bg} !important;
    --tiki-top-color: #{$tiki-top-link-color};
    --tiki-top-hover-color: #{$tiki-top-link-hover-color};
    --tiki-top-text-color: #{$tiki-top-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #{$tiki-topbar-light-bg};
    --tiki-topbar-color: #{$tiki-top-light-color};
    --tiki-topbar-hover-color: #{$navbar-light-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-light-link-hover-color};
}

@mixin top-nav-dark {
    --tiki-top-bg: #{$tiki-top-dark-bg} !important;
    --tiki-top-color: #{$navbar-dark-link-color};
    --tiki-top-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-top-text-color: #{$navbar-dark-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #{$tiki-topbar-dark-bg};
    --tiki-topbar-color: #{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-link-hover-color};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-nav-top-light, .tiki-nav-top-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #{$tiki-top-light-bg};
     --tiki-admin-top-nav-color:#{$tiki-top-link-color};
//    --tiki-admin-top-nav-color: #{$tiki-top-link-hover-color};
    --tiki-admin-top-nav-link-bg: none ;
    --tiki-admin-aside-nav-bg: #{$tiki-top-light-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
//    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$tiki-top-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #{$tiki-top-dark-bg};
    --tiki-admin-top-nav-color: #{$navbar-dark-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #{$tiki-top-dark-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #f9f9f9;// #{$tiki-top-light-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #{$tiki-top-dark-bg};
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$bg-light};
}