// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #{$top-navbar-bg};
    --tiki-top-color: #FEA239;
    --tiki-top-hover-color: #fabe7a;
    --tiki-top-text-color: #fabe7a;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: null;
    --tiki-topbar-color: #{$gray-100};
    --tiki-topbar-hover-color: #{$gray-200};
    --tiki-topbar-text-color: #{$gray-200};
}

@mixin top-nav-light {
    --tiki-top-bg: null;
    --tiki-top-color: #FEA239;
    --tiki-top-hover-color: #fabe7a;
    --tiki-top-text-color: #fabe7a; //lighten(#FEA239, 10%);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: transparent; // #{$top-navbar-bg};
    --tiki-topbar-color: #{$gray-100};
    --tiki-topbar-hover-color: #{$gray-200};
    --tiki-topbar-text-color: #{$gray-200};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-light;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
<<<<<<< HEAD
    --tiki-admin-top-nav-bg: #{$top-navbar-bg};
=======
>>>>>>> upstream/master
    --tiki-admin-top-nav-bg: #{$top-navbar-bg};
    --tiki-top-bg: #{$top-navbar-bg};
    --tiki-admin-navbar-bg: #{$top-navbar-bg};
    --tiki-admin-top-nav-color: #{$gray-100};
    --tiki-admin-top-nav-hover-color: #{$gray-200};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$top-navbar-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$gray-900};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-item.search-preferences {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// The CSS variable for this, above, isn't being applied for some reason, so trying here:
//nav#top_modules.tiki-top-nav-light { background: linear-gradient(to bottom, #040404 0%, #060606 2%, #121212 55%, #0f0f0f 57%, #030303 59%, #000000 61%, #000000 100%) !important; }


// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #{$top-navbar-bg};
    --tiki-admin-navbar-bg: #{$top-navbar-bg};
    --tiki-admin-top-nav-color:  #{$gray-100};
    --tiki-admin-top-nav-hover-color: #{$gray-200};
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: #{$top-navbar-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-bg:  #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item.search-preferences {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.middle-wrapper {
    --tiki-page-content-top-margin: 0;
}

<<<<<<< HEAD
[data-bs-theme="dark"] {
    .layout_classic #middle, .layout_basic .row-middle, .layout_social .middle.container, .tiki-admin .row-middle {
        background: #212529;
    }
    .textarea-toolbar > div, .textarea-toolbar > ul { // .textarea-toolbar > div,
        background-color: var(--bs-secondary-bg);
        border-color: var(--bs-secondary-color);
    }
    a.toolbar, li.toolbar {
        color: var(--bs-secondary-text-emphasis);
    }
    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
    .bg-light,
    .navbar.bg-light {
        background: var(--bs-tertiary-bg) !important;
        .nav-link {
            color: $link-color-dark;
        }
    }
}
=======
//[data-bs-theme="dark"] {
//    .layout_classic #middle,
//    .layout_basic .row-middle,
//    .layout_social .middle.container,
//    .tiki-admin .row-middle {
//        background: #212529;
//    }
//    .textarea-toolbar > div, .textarea-toolbar > ul { // .textarea-toolbar > div,
//        background-color: var(--bs-secondary-bg);
//        border-color: var(--bs-secondary-color);
//    }
//    a.toolbar, li.toolbar {
//        color: var(--bs-secondary-text-emphasis);
//    }
//    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
//    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
//    .bg-light,
//    .navbar.bg-light {
//        background: var(--bs-tertiary-bg) !important;
//        .nav-link {
//            color: $link-color-dark;
//        }
//    }
//}
>>>>>>> upstream/master
