//  ohia/scss/ohia.scss: compile to make
/*  The Ohia theme stylesheet for Tiki Wiki CMS Groupware. */

// @import url(https://fonts.bunny.net/css?family=alegreya-sans:400,400i|alegreya-sans-sc:400,400i,700);

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../../base_files/scss/_tiki-variables.scss"; // 2. Default value declarations for Tiki variables and the default vendor Bootstrap variables.
@import "../scss/variables"; // 3. The theme's variable declarations are used when they are imported after the Bootstrap defaults (order changed for Tiki 27).

<<<<<<< HEAD
@import "../../default/scss/variables-dark"; // 4. Adds default dark variables for any not declared by the theme dark variables file.
=======
//@import "../../default/scss/variables-dark"; // 4. Adds default dark variables for any not declared by the theme dark variables file.
>>>>>>> upstream/master
//@import "../scss/variables-dark"; // 5. Values of dark variables if color modes are enabled (Order of importing this and the default variables-dark doesn't seem to make a difference).
@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 6. Remainder of required Bootstrap parts.
@import "../../base_files/scss/_tiki-selectors.scss"; // 7. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 8. Optionally imported to group (separately) the top and topbar zone components for styling.
@import "../scss/_tiki-selectors.scss"; // 9. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.

@import "../scss/css-variables"; // 10. Imported after default CSS variables to override them.

// .textarea-toolbar a.toolbar { color: #222; }
<<<<<<< HEAD
// Bootstrap variable overrides seem to have to be here to be effective.
.navbar {
    --bs-navbar-color: #80A60FFF;
    --bs-navbar-hover-color: #f4f4f4;
}
=======
>>>>>>> upstream/master
