//--------------------------- Tiki CSS variables
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --tiki-top-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}

@mixin top-nav-light { // These colors not currently used
    --tiki-top-bg: rgb(233, 236, 239);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: #3a3f44;
    --tiki-top-text-color: #3a3f44;
    --tiki-top-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light { // These colors not currently used
    --tiki-topbar-bg: rgb(233, 236, 239);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: #3a3f44;
    --tiki-topbar-text-color: #3a3f44;
    --tiki-topbar-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}

.tiki-top-nav-light {
    @include top-nav-dark;
}

.tiki-topbar-nav-light {
    @include topbar-nav-dark;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-light;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //
// These mixins have the same content - Todo: refactor
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-color:  transparent; // var(--bs-accordion-border-color);
    }
}

@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-color:  transparent; // var(--bs-accordion-border-color);
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

:root {
    --tiki-code-bg: #32383e;
}

:root {
    .fc-event.fc-event-draggable.fc-event-start.fc-event-end.fc-event-past.fc-h-event.tips,
    .fc-v-event {
        background: var(--bs-secondary-bg) !important;
    }
}
